version: 1

dn: {{ ldap_dn }}
changetype: add
objectClass: organizationalUnit
objectClass: top
ou: people

dn: uid=lclerk,{{ ldap_dn }}
objectClass: eduPerson
objectClass: schacPersonalCharacteristics
objectClass: schacContactLocation
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: lclerk
userPassword: MTz
givenName: Linus
sn: Clerk
cn: Linus Clerk
displayName: Linus Clerk
mail: linus.clerk@ubuntunet.net
eduPersonPrincipalName: linus.clerk@ubuntunet.net
eduPersonAffiliation: employee
schacGender: 1
schacHomeOrganization: ubuntunet.net
schacHomeOrganizationType: urn:schac:homeOrganizationType:int:RREN
o: UbuntuNet Alliance

dn: uid=mstuder,{{ ldap_dn }}
objectClass: eduPerson
objectClass: schacPersonalCharacteristics
objectClass: schacContactLocation
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: mstuder
userPassword: MTa
givenName: Marissa
sn: Studer
cn: Marissa Studer
displayName: Mari Studer
mail: studer@uni1.org
eduPersonPrincipalName: 234907-8132748123@uni1.org
eduPersonAffiliation: student
schacGender: 2
schacHomeOrganization: uni1.org
schacHomeOrganizationType: urn:schac:homeOrganizationType:mw:higherEducationalInstitution
o: Number One Uni

dn: uid=rfurt,{{ ldap_dn }}
objectClass: eduPerson
objectClass: schacPersonalCharacteristics
objectClass: schacContactLocation
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: rfurt
userPassword: MTr
givenName: Renato
sn: Furt
cn: Renato Furt
displayName: Renato Furt
mail: renato.furt@uni1.org
eduPersonPrincipalName: ablaer-uailerujbasd@uni1.org
eduPersonAffiliation: faculty
schacGender: 1
schacHomeOrganization: uni1.org
schacHomeOrganizationType: urn:schac:homeOrganizationType:mw:higherEducationalInstitution
o: SWITCHSWATCH
